<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650906750534-iur7neemt27jl31dq8ffr6bllc74u26i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650906750534-iur7neemt27jl31dq8ffr6bllc74u26i</string>
	<key>API_KEY</key>
	<string>AIzaSyCPKEZRKLqleXT7L5BglaicLHSQ5aRZ4EA</string>
	<key>GCM_SENDER_ID</key>
	<string>650906750534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>by.my.app.dzWeather</string>
	<key>PROJECT_ID</key>
	<string>weatherproject-261eb</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherproject-261eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650906750534:ios:2b32510e2a96482c20c447</string>
</dict>
</plist>